/* --- Block 1 --- */
.hero__body {
  padding-bottom: 7rem !important;
}

.hero__img-container.hero-img-left.jobs {
  width: 100%;
  margin-left: -30%;
}

.hero_body.text-on-right h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media(min-width: 500px) {
  .hero__body {
    padding-bottom: 8rem !important;
  }

  .hero_body.text-on-right h5 {
    margin-right: 5%;
  }
}

@media(min-width: 600px) {
  .hero__body {
    padding-bottom: 9rem !important;
  }

  .hero_body.text-on-right h5 {
    margin-right: 8%;
  }
}

@media(min-width: 750px) {
  .hero__body {
    padding-bottom: 2rem !important;
  }

  .hero__img-container.hero-img-left.jobs {
    width: 150%;
    margin-left: -60%;
  }

  .hero_body.text-on-right {
    margin-right: 0;
  }

  .hero_body.text-on-right h5 {
    margin-right: 10%;
  }
}

@media(min-width: 850px) {
  .hero__img-container.hero-img-left.jobs {
    margin-bottom: 20%;
  }
}

@media(min-width: 992px) {
  .hero__img-container.hero-img-left.jobs {
    width: 120%;
    margin-left: -40%;
  }

  .hero_body.text-on-right h5 {
    margin-right: 15%;
  }
}

@media(min-width: 1090px) {
  .hero_body.text-on-right h5 {
    margin-right: 22%;
  }

  .hero_body.text-on-right {
    margin-left: -5%;
    margin-right: 3%;
  }
}

@media(min-width: 1200px) {
  .hero__body {
    padding-bottom: 5rem !important;
  }

  .hero__img-container.hero-img-left.jobs {
    width: 110%;
    /* margin-left: -50%; */
  }

  .hero_body.text-on-right {
    margin-left: -9%;
    margin-right: 10%;
  }
}


/* --- Block 3 --- */
.title-light {
  font-weight: 600;
}

.title-bold-blue {
  color: var(--primary);
  font-weight: 800;
}

.white-block__jobs {
  margin: 18% 8% 20% 8%;
}

.white-block__jobs h3 {
  padding-bottom: 1rem;
}

.white-block__jobs p{
  padding: 1rem 0;
}

#application-form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #9F9F9F;
  padding-left: 1.3rem;
  padding-top: 0.5rem;
}

input[type=file] {
  padding-left: 0.3rem;
  padding-bottom: 1rem;
}

#CV-file {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

@media(min-width: 500px) {
  .white-block__jobs {
    margin: 17% 9% 19% 9%;
  }
}

@media(min-width: 600px) {
  .white-block__jobs {
    margin: 15% 11% 17% 11%;
  }
}

@media(min-width: 750px) {
  .white-block__jobs {
    margin: 13% 13% 15% 13%;
  }
}

@media(min-width: 850px) {
  .white-block__jobs {
    margin: 12% 15.5% 14% 15.5%;
  }
}

@media(min-width: 992px) {
  .white-block__jobs {
    margin: 11% 19.5%;
  }
}

@media(min-width: 1200px) {
  .white-block__jobs {
    margin: 10% 22.5%;
  }
}