/* --- SERVICES: Block 1 --- */
.hero__body.services-block1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.services__hero-img {
  width: 100%;
}

.hero__body.services-block1 h1{
  font-size: 2.3rem;
  padding-bottom: 1rem;
  color: var(--primary);
  text-align: center;
}

.hero__body.services-block1 h3 {
  font-size: 1.2rem;
  font-weight: 600 !important;
  text-align: center;
}

.hero__body.services-block1 h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  margin: 0 5%; 
}

.hero__body.services-block1 p {
  font-size: 1.1rem;
  margin: 0 5%;
}

.interested__btn{
  margin-top: 8%;
  width: 90%;
}

@media(min-width: 576px) {
  .hero__body.services-block1 {
    margin: 0 8%;
  }

  .services__hero-img {
    width: 90%;
  }
}

@media(min-width: 768px){
  .hero__body.services-block1 {
    margin: 3% 10%;
  }

  .services__hero-img {
    width: 80%;
  }

  .hero__body.services-block1 h1{
    font-size: 2.5rem;
  }
  
  .hero__body.services-block1 h3 {
    font-size: 1.4rem;
  }
}

@media(min-width: 992px){
  .hero__body.services-block1 {
    margin: 5% 18%;
  }

  .services__hero-img {
    width: 70%;
  }

  .hero__body.services-block1 h1{
    font-size: 3rem;
  }
  
  .hero__body.services-block1 h3 {
    font-size: 1.7rem;
    margin: 0 12%;
  }

  .hero__body.services-block1 h2 {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    margin: 0 7%; 
  }
  
  .hero__body.services-block1 p {
    margin: 0 7%;
  }

  .interested__btn{
    margin-top: 5%;
    width: 85%;
  }
}

/* --- SERVICES: Block 2 --- */

.testimonial-card-1 {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-card__text {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.testimonial-card__text h3{
  margin-bottom: 1.5rem;
}

.testimonial-card__link-footer {
  text-align: center;
}

.learn-more__link {
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  text-decoration: underline;
}


@media(min-width: 992px) {
  .testimonial-card__text h3{
    margin-bottom: 2rem;
  }
}

/* --- SERVICES: Block 3 --- */

.dark-block {
  --block-background: #2F3540;
  --block-text-color: #fff;
  background: var(--block-background);
  color: var(--block-text-color);
  padding-top: 5%;
  padding-bottom: 5%;
}

.dark-block-container {
  margin: 8%;
}

.dark-block-title {
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 2.5rem;
}

.timeline__img {
  width: 97%;
  margin-left: 1.5%;
}

.timeline__img-mobile {
  visibility: visible;
  width: 100%;
}

.timeline__img-desktop {
  visibility: hidden;
  width: 0;
  height: 0;
}

.timeline-text {
  margin: 5% 1%;
}

.timeline-text.phases {
  padding-top: 5%;
  padding-bottom: 7%;
}

.timeline-text.phases h3 {
  color: var(--tertiary);
  font-size: 1.2rem;
}

.get-started__btn {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

@media(min-width: 500px) {
  .dark-block-title {
    font-size: 1.6rem;
  }
}

@media(min-width: 600px){
  .dark-block-container {
    margin: 8% 10%;
  }

  .dark-block-title {
    padding: 0 0.7rem 2.5rem 0.7rem;
  }

  .timeline__img-mobile {
    width: 95%;
    margin-left: 2.5%;
  }

  .timeline-text {
    margin: 4% 2%;
    padding-top: 3%;
  }

  .timeline-text svg{
    margin-left: 2%;
  }

  .timeline-text.phases {
    padding: 5% 0;
  }

}

@media(min-width: 750px) {
  .dark-block-container {
    margin: 7% 8%;
  }

  .dark-block-title {
    font-size: 1.7rem;
  }

  .timeline__content {
    display: flex;
  }

  .timeline__img {
    width: 95%;
  }

  .timeline__img-mobile {
    visibility: hidden;
    width: 0px;
  }

  .timeline__img-desktop {
    visibility: visible;
    margin-top: -2rem;
    width: 8%;
  }

  .timeline__desktop-rect{
    margin-left: 2.3rem;
    margin-top: 3rem;
    position: relative;
    z-index: 0;
  }

  .timeline__desktop-circle {
    position: absolute;
    z-index: 1;
  }

  .timeline__desktop-arrow {
    margin-left: 0.23rem;
    position: absolute;
    z-index: 1;
  }

  .timeline__img-desktop svg:nth-child(1) {
    margin-top: 0rem;
  }

  .timeline__img-desktop svg:nth-child(2) {
    margin-top: 11.5rem;
  }

  .timeline__img-desktop svg:nth-child(3) {
    margin-top: 23rem;
  }

  .timeline__img-desktop svg:nth-child(4) {
    margin-top: 36rem;
  }

  .timeline__img-desktop svg:nth-child(5) {
    margin-top: 47rem;
  }

  .timeline__img-desktop svg:nth-child(6) {
    margin-top: 62rem;
  }

  .timeline__img-desktop svg:nth-child(7) {
    margin-top: 6rem;
  }  

  .timeline__img-desktop svg:nth-child(8) {
    margin-top: 18rem;
  }  

  .timeline__img-desktop svg:nth-child(9) {
    margin-top: 30rem;
  }  

  .timeline__img-desktop svg:nth-child(10) {
    margin-top: 42rem;
  }  

  .timeline__img-desktop svg:nth-child(11) {
    margin-top: 54rem;
  }  
  .timeline__img-desktop svg:nth-child(12) {
    margin-top: 55.5rem;
  }  


  .timeline-text svg {
    visibility: hidden;
    width: 0px;
  }

  .timeline-text {
    margin: 0 3% 0 -3%;
    padding-top: 0%;
  }

  .timeline-text.phases {
    padding: 4% 0;
  }

  .timeline-text.phases h3 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  .get-started__btn {
    margin-top: 7%;
  }
}

@media(min-width: 830px) {
  .dark-block-container {
    margin: 5% 10%;
  }

  .dark-block-title {
    margin: 0 5%;
    font-size: 1.8rem;
  }

  .get-started__btn {
    margin-top: 5%;
  }

  .timeline__content {
    margin: 0 3%; 
  }
}

@media(min-width: 967px) {
  .dark-block-container {
    margin: 3% 12%;
  }

  .dark-block-title {
    margin: 0 7%;
  }

  .timeline__content {
    margin: 0 5%;
  }

}

@media(min-width: 992px) {
  .dark-block-container {
    margin: 1% 15%;
  }

  .dark-block-title {
    margin: 0 10%;
    font-size: 2rem;
  }

  .timeline-text {
    margin: 0 3% 0 -1%;
  }
}

@media(min-width: 1070px) {
  .timeline__img-desktop {
    margin-left: 10%;
  }
}

@media(min-width: 1200px) {
  
  .timeline__img-desktop {
    margin-left: 25%;
  }

  .timeline-text {
    margin: 0 8% 0 -2%;
  }
}

/* --- SERVICES: Block 4 --- */

/* --- SERVICES: Block 5 --- */
.white-block-container{
  margin: 0 3%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-block-title{
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.security__imgs{
  visibility: hidden;
  width: 0px;
}

.security-text h6 {
  font-size: 1.1rem;
  border: 3px solid var(--primary);
  border-radius: 7px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media(min-width: 500px) {
  .white-block-container{
    margin: 0 4%;
    padding-bottom: 1.5rem;
  }

  .security-text h6 {
    margin-bottom: 1rem;
  }
}

@media(min-width: 600px) {
  .white-block-container{
    margin: 0 5%;
  }

  .white-block-title{
    font-size: 1.6rem;
  }
}

@media(min-width: 750px){
  .white-block-container{
    margin: 0 7%;
  }

  .white-block-title{
    font-size: 1.7rem;
  }

  .white-block-container.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
  }

  .security-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .security-icons img:nth-child(1){
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
  }

  .security-icons img:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .security__imgs{
    visibility: visible;
    width: 70px;
    border: 3px solid var(--primary);
    border-radius: 7px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.242);
  }

  .security-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
  }

  .security-text h6 {
    padding: 1rem;
  }

  .security-text p {
    font-size: 1.1rem;
  }

}

@media(min-width: 830px) {
  .white-block-title{
    font-size: 1.8rem;
    margin: 0 3%;
  }

  .security-text h6 {
    font-size: 1.2rem;
  }
}

@media(min-width: 900px) {
  .white-block-container{
    margin: 0 10%;
    padding-bottom: 2rem;
  }

  .white-block-title{
    margin: 0 5%;
  }
}

@media(min-width: 992px) {
  .white-block-title{
    font-size: 2rem;
  }

  .security-text h6 {
    font-size: 1.3rem;
  }
  
}

@media(min-width: 1104px) {
  .white-block-container{
    margin: 0 12%;
  }

  .white-block-title{
    margin: 0 7%;
  }
}

@media(min-width: 1200px) {
  .white-block-title{
    margin: 0 15%;
  }

  .white-block-container.content {
    margin-left: 15%;
  }

  .security-text {
    margin-right: 5%;
  }
}

/* --- SERVICES: Block 6 --- */
.med-blu-block {
  background-color: #8FBCFF;
}

.med-blu-block.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12% 5%;
}

.med-blu-block.container img {
  width: 30%;
}

.med-blu-block.container h2 {
  font-size: 1.3rem;
  padding: 1rem;
}

.med-blu-block.container p {
  margin: 0 0.5rem 2rem 0.5rem;
}

.btn-xlg {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0.5rem 2rem;
}

@media(min-width: 600px) {
  .med-blu-block.container h2 {
    font-size: 1.6rem;
  }

  .btn-xlg {
    font-size: 1.7rem;
    padding: 0.5rem 2.5rem;
  }
}

@media(min-width: 750px) {
  .med-blu-block.container h2 {
    font-size: 1.7rem;
  }

  .med-blu-block.container p {
    font-size: 1.1rem;
  }

  .btn-xlg {
    font-size: 1.9rem;
  }
}

@media(min-width: 767px){
  .med-blu-block.container {
    padding: 10% 15%;
  }
}

@media(min-width: 830px) {
  .med-blu-block.container h2 {
    font-size: 1.8rem;
  }

  .btn-xlg {
    font-size: 2rem;
  }
}

@media(min-width: 992px) {
  .med-blu-block.container {
    padding: 8% 20%;
  }

  .med-blu-block.container img {
    width: 40%;
  }

  .med-blu-block.container h2 {
    font-size: 2rem;
    padding: 2rem 1rem;
  }

  .btn-xlg {
    font-size: 2.2rem;
  }
}