/* --- Block 1 --- */
.hero__body {
  padding-top: 0 !important;
}

.hero__img-container.hero-img-left {
  margin-left: -4%;
  margin-bottom: 3rem;
  padding-top: 0;
}

.hero_body.text-on-right {
  margin: 0 10%;
}

.hero_body.text-on-right h3{
  margin-bottom: 0;
}


@media(min-width: 600px) {
  .hero__img-container.hero-img-left {
    width: 90%;
  }
}

@media(min-width: 750px) {
  .hero__img-container.hero-img-left {
    margin-top: 10%;
  }
  
  .hero__body {
    display: flex; 
    align-items: center;
    padding-top: 2rem !important;
  }

  .hero_body.text-on-right {
    margin-left: -1%;
  }
}

@media(min-width: 992px) {
  .hero__body {
    padding-top: 5rem !important;
    padding-bottom: 8rem;
  }
}

/* --- Block 2 --- */
.block__title.overlay-blue-border.single-line.what-we-focus-on{
  background-color: white;
  border: 3px solid var(--tertiary);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.6rem;
  position: relative;
  z-index: 1;
  margin: 0 25% -7% 8%;
}

.block__title.overlay-blue-border.single-line.what-we-focus-on h4 {
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.service__block.blue-bckg.what-we-focus-on {
  background: var(--tertiary);
  padding: 17% 10% 22% 10%;
}

@media(min-width: 500px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 25% -5% 8%;
  }
}

@media(min-width: 600px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 30% -5% 10%;
  }
  
  .service__block.blue-bckg.what-we-focus-on {
    padding: 12% 10% 22% 10%;
  }

  .service__block.text-container {
    margin: 0 1%;
  }
}

@media(min-width: 650px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 35% -5% 10%;
  }
}

@media(min-width: 750px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 40% -5% 12%;
  }

  .service__block.blue-bckg.what-we-focus-on {
    padding: 10% 10% 20% 10%;
  }

  .service__block.text-container {
    margin: 0 3%;
  }
}

@media(min-width: 850px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 45% -4% 12%;
  }

  .service__block.blue-bckg.what-we-focus-on {
    padding: 12% 10% 22% 10%;
  }

  .service__block.text-container {
    margin: -2% 10% 0 3%;
  }
}

@media(min-width: 992px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 50% -3.5% 12%;
  }
  
  .block__title.overlay-blue-border.single-line.what-we-focus-on h4 {
    padding: 0.5rem;
  }

  .service__block.text-container {
    margin: -2% 15% 0 4%;
  }
}

@media(min-width: 1200px) {
  .block__title.overlay-blue-border.single-line.what-we-focus-on{
    margin: 0 50% -2.5% 19%;
  }

  .service__block.blue-bckg.what-we-focus-on {
    padding: 10% 10% 23% 10%;
  }

  .service__block.text-container {
    margin: -2% 15% 0 12%;
  }
}

/* --- Block 3 --- */
.block__title.overlay-blue-border.single-line.our-approach {
  background-color: white;
  border: 3px solid var(--quaternary);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.6rem;
  position: relative;
  z-index: 1;
  margin: -12% 25% -7% 8%;
}

.block__title.overlay-blue-border.single-line.our-approach h4 {
  padding: 0.3rem 0.3rem 0 0.3rem;
}

.service__block.blue-bckg.our-approach {
  background: var(--quaternary);
  padding: 17% 10% 10% 10%; /* this will change according to the plant*/
}

.service__block.read-more {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}

.service__block.read-more img {
  width: 30%;
  margin: -10% -8% -25% 0;
}

@media(min-width: 500px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -12% 25% -5% 8%;
  }
}

@media(min-width: 600px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -12% 30% -5% 10%;
  }
  
  .service__block.blue-bckg.our-approach {
    padding: 12% 10% 8% 10%;
  }

  .service__block.read-more {
    margin: 20% 0 0 2%;
  }

  .service__block.read-more img {
    width: 25%;
    margin: -20% -8% -15% 0;
  }
}

@media(min-width: 650px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -12% 35% -5% 10%;
  }
}

@media(min-width: 750px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -12% 40% -5% 12%;
  }

  .service__block.blue-bckg.our-approach {
    padding: 10% 10% 7% 10%;
  }

  .service__block.read-more {
    margin: 18% 0 0 4%;
  }

}

@media(min-width: 850px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -15% 45% -4% 12%;
  }

  .service__block.blue-bckg.our-approach {
    padding: 12% 10% 7% 10%;
  }
}

@media(min-width: 992px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -15% 50% -3.5% 12%;
  }
  
  .block__title.overlay-blue-border.single-line.our-approach h4 {
    padding: 0.5rem;
  }

  .service__block.read-more {
    margin: 18% 0 0 5%;
  }

  .service__block.read-more img {
    width: 20%;
    margin: -20% -5% -15% 0;
  }
}

@media(min-width: 1200px) {
  .block__title.overlay-blue-border.single-line.our-approach{
    margin: -17% 50% -2.5% 19%;
  }

  .service__block.blue-bckg.our-approach {
    padding: 10% 10% 7% 10%;
  }

  .service__block.read-more {
    margin: 12% 0 0 13%;
  }
}
